= content_for :custom_meta_tags do
  %link{rel: "canonical", href: "#{request.original_url}"}
  %meta{property: "og:image", content: "http://sorochkaopt.com/bannerShare.jpg"}
  %meta{property: "og:image:type", content: "image/jpeg"}
  %meta{property: "og:image:width", content: "487"}
  %meta{property: "og:image:height", content: "249"}
  - keywords = ['сорочка', 'shirt', 'рубашка', 'сорочки', 'shirts', 'рубашки', 'гуртом', 'wholesale', 'оптом']
  - keywords << ['turkey', 'турция', 'турція', 'турецкие', 'турецькі', 'turkish']
  - @category || @category = Category.find(session['category'])
  - keywords << @category.name_ua.split(' ')
  - keywords << @category.name_en.split(' ')
  - keywords << @category.name_ru.split(' ')
  %meta{name: "keywords", content: "#{keywords.join(', ')}"}
#home-slider.inview-observer.carousel.slide.carousel-fade.parallax{data: {:image => 'banner1.jpg'}}
  .slider
    .wow.lightSpeedIn.title1{'data-wow-duration' => '1000ms', 'data-wow-delay' => '200ms'}
      %span
        =t('home-slider.t1')
    .wow.lightSpeedIn.title2{'data-wow-duration' => '1200ms', 'data-wow-delay' => '500ms'}
      %span
        =t('home-slider.t2')
  .wow.bounceInLeft.title3{'data-wow-duration' => '1200ms', 'data-wow-delay' => '1500ms'}
    %i.icon-catalog
    %img{src: '/online.png', alt: 'online'}
%section#navpanel0.topwhite
  = render partial: 'nav0'
  .nav-catalog
    = render partial: 'nav1'
%section#catalog
%section#navpanel.topwhite
  .nav0-tabs.nav.nav-tabs
    .flash.wow.lightSpeedIn{data: {tabs: "tabs"}, 'data-wow-duration' => '1000ms', 'data-wow-delay' => '200ms'}
  .deffered-nav.wow.lightSpeedIn{data: {tabs: "tabs"}, 'data-wow-duration' => '1000ms', 'data-wow-delay' => '200ms'}
    = render partial: 'products/deffered'
%section#product
%section#order.topwhite
%section#contact.inview-observer.parallax
  = render partial: 'contact'
%section#navpanel2.topwhite
%section#about.inview-observer.parallax
  = render partial: 'about'
%section#navpanel3.topwhite
= render partial: 'leftpanel'
= render partial: 'rightpanel'
:javascript
  start_up();
