#home-slider.inview-observer.carousel.slide.carousel-fade.parallax{data: {:image => 'banner1.jpg'}}
  .slider
    .wow.lightSpeedIn.title1{'data-wow-duration' => '1000ms', 'data-wow-delay' => '200ms'}
      %span
        =t('home-slider.t1')
    .wow.lightSpeedIn.title2{'data-wow-duration' => '1200ms', 'data-wow-delay' => '500ms'}
      %span
        =t('home-slider.t2')
  .wow.bounceInLeft.title3{'data-wow-duration' => '1200ms', 'data-wow-delay' => '1500ms'}
    %i.icon-catalog
    %span
      online
%section#navpanel0.topwhite
  %a.btn.btn-start.animated.scroll.topbutton.fadeInUpBig{href: '#catalog'}
    =t(:_catalog)
  = render partial: 'nav0'
  .nav-catalog
    = render partial: 'nav1'
%section#catalog
%section#navpanel.topwhite
  .nav0-tabs.nav.nav-tabs
    .flash.wow.lightSpeedIn{data: {tabs: "tabs"}, 'data-wow-duration' => '1000ms', 'data-wow-delay' => '200ms'}
  .deffered-nav.wow.lightSpeedIn{data: {tabs: "tabs"}, 'data-wow-duration' => '1000ms', 'data-wow-delay' => '200ms'}
    = render partial: 'products/deffered'
%section#product
%section#order.topwhite
%section#contact.inview-observer.parallax
  = render partial: 'contact'
%section#navpanel2.topwhite
%section#about.inview-observer.parallax
  = render partial: 'about'
%section#navpanel3.topwhite
= render partial: 'leftpanel'
= render partial: 'rightpanel'
