#adminpanel
  = render 'admin_panel_controlls'
  = show_flash
  .tab-content
    %fieldset
      %legend
        = t('activerecord.attributes.fabric.index')
      %table.table.table-striped.table-bordered.table-condensed{:role => "grid"}
        %thead
          %tr
            %th{:scope => "column"}
              = t('admins.headers.name_i')
            %th{:scope => "column"}
              = t('admins.headers.description')
            %th{:scope => "column"}
              = t('admins.headers.created_at')
            %th{:scope => "column"}
              = t('admins.headers.composition')
            %th{:scope => "column"}
              = t('admins.headers.picture')
            %th{:scope => "column"}
        %tbody
          - @fabrics.each do |f|
            %tr
              %td= f.name
              %td= f.description
              %td= f.created_at
              %td= f.composition
              %td= attachment_image_tag(f, :image, :fill, 300, 300, fallback: "default300x300.png")
              %td
                = bootstrap_icon_link_to t(:_show), f, "glyphicon glyphicon-th icon-white", method: :get, :class => "button btn btn-small btn-primary"
                = bootstrap_icon_link_to t(:_edit), edit_fabric_path(f), "glyphicon glyphicon-pencil icon-white", :class => "button btn btn-small btn-primary"
                = bootstrap_icon_link_to t(:_delete), f, "glyphicon glyphicon-trash icon-white", confirm: 'Are you sure?', method: :delete, :class => "button btn btn-small btn-danger"
                %br
                %span
                  in:
                %br
                = f.category_id && Category.find(f.category_id).name_ua