#adminpanel
  = render 'admin_panel_controlls'
  = show_flash
  .tab-content
    %fieldset
      %legend List of users
      %table.table.table-striped.table-bordered.table-condensed{:role => "grid"}
        %thead
          %tr
            %th{:scope => "column"} Name
            %th{:scope => "column"} Email
            %th{:scope => "column"} Networks
            %th{:scope => "column"} SignInCount
            %th{:scope => "column"}
        %tbody
          - @users.each do |user|
            %tr
              %td
                = user.name
                - if user.is_admin
                  %span.label.label-info Admin
                - if user.is_moderator
                  %span.label.label-info Moderator
              %td= user.email
              %td
                - result = ''
                - user.identities.each { |ident| result += ident.provider.to_s + ' ' }
                = result
              %td= user.sign_in_count
              %td
                = bootstrap_icon_link_to 'Profile', user, "glyphicon glyphicon-user icon-white", method: :get, :class => "button btn btn-small btn-primary"
                = bootstrap_icon_link_to "Edit", edit_user_path(user), "glyphicon glyphicon-pencil icon-white", :class => "button btn btn-small btn-primary"
                = bootstrap_icon_link_to 'Delete', user, "glyphicon glyphicon-trash icon-white", confirm: 'Are you sure?', method: :delete, :class => "button btn btn-small btn-danger"