#adminpanel
  = render 'admin_panel_controlls'
  = show_flash
  .tab-content
    %fieldset
      %legend List of colors
      %table.table.table-striped.table-bordered.table-condensed{:role => "grid"}
        %thead
          %tr
            %th{:scope => "column"} Name
            %th{:scope => "column"} color_gid
            %th{:scope => "column"} design
            %th{:scope => "column"}
        %tbody
          - @colors.each do |b|
            %tr
              %td= b.name
              %td= b.color_gid
              %td
                .color_square{style: "background-color: #{b.color_gid};"}
              %td
                = bootstrap_icon_link_to 'Show', b, "glyphicon glyphicon-book icon-white", method: :get, :class => "button btn btn-small btn-primary"
                = bootstrap_icon_link_to "Edit", edit_color_path(b), "glyphicon glyphicon-pencil icon-white", :class => "button btn btn-small btn-primary"
                = bootstrap_icon_link_to 'Delete', b, "glyphicon glyphicon-trash icon-white", confirm: 'Are you sure?', method: :delete, :class => "button btn btn-small btn-danger"