= form_for(@payment_type) do |f|
  - if @payment_type.errors.any?
    .alert.alert-error
      %b
        = pluralize(@payment_type.errors.count, "error")
        prohibited this payment_type from being saved:
      %ul
        - @payment_type.errors.full_messages.each do |msg|
          %li= msg
  %table.table.table-striped.table-bordered.table-condensed.table-user-form{:role => "grid"}
    %tr
      %td{:scope => "row"}= f.label :name
      %td= f.text_field :name, class: "name_field"
    %tr
      %td= bootstrap_icon_link_to 'Cancel', payment_types_path, 'glyphicon glyphicon-time icon-white', :class => "button btn btn-warning"
      %td= f.submit :class => "button btn btn-success"