#adminpanel
  = render 'admin_panel_controlls'
  = show_flash
  .tab-content
    %fieldset
      %legend
        Profile of #{@brand.name}:
      %table.table.table-striped.table-bordered.table-condensed.table-user-profile{:role => "grid"}
        %tr
          %td{:scope => "row"} Name
          %td= @brand.name
        %tr
          %td{:scope => "row"} Description
          %td= @brand.description
        %tr
          %td{:scope => "row"} Parent
          %td= attachment_image_tag(@brand, :image, :fill, 300, 100, fallback: "default300x100.png")
        %tr
          %td{:scope => "row"}
          %td
            = bootstrap_icon_link_to 'Edit', edit_brand_path(@brand), "glyphicon glyphicon-pencil icon-white", :class => "button btn btn-small btn-primary"
            - if current_user.is_admin
              = bootstrap_icon_link_to 'Delete', @brand, "glyphicon glyphicon-trash icon-white", confirm: 'Are you sure?', method: :delete, :class => "button btn btn-small btn-danger"