= content_for :custom_meta_tags do
  %link{rel: "canonical", href: "#{request.original_url}"}
  %meta{property: "og:image", content: "http://sorochkaopt.com/bannerShare.jpg"}
  %meta{property: "og:image:type", content: "image/jpeg"}
  %meta{property: "og:image:width", content: "487"}
  %meta{property: "og:image:height", content: "249"}
  - keywords = ['сорочка', 'shirt', 'рубашка', 'сорочки', 'shirts', 'рубашки', 'гуртом', 'wholesale', 'оптом']
  - keywords << ['turkey', 'турция', 'турція', 'турецкие', 'турецькі', 'turkish']
  - @category || @category = Category.find(session['category'])
  - keywords << @category.name_ua.split(' ')
  - keywords << @category.name_en.split(' ')
  - keywords << @category.name_ru.split(' ')
  %meta{name: "keywords", content: "#{keywords.join(', ')}"}
.top_box.clearfix
%section#navpanel0.topwhite
  = render partial: 'nav0'
  .nav-catalog
    = render partial: 'nav1'
%section#catalog
%section#navpanel.topwhite
  .nav0-tabs.nav.nav-tabs
    .flash.wow.lightSpeedIn{data: {tabs: "tabs"}, 'data-wow-duration' => '1000ms', 'data-wow-delay' => '200ms'}
  .deffered-nav
    = render partial: 'products/deffered'
:javascript
  $('.main-nav li').removeClass('active');
  $('.main-nav li.btn-nav-catalog').addClass('active');
  catalog_choose();
  show_catalog();
  remove_deffered();
  deffered_view();
  deffered_shift();
