%section
  .col-sm-3
    %a{href: './privatpolicy'}
      Privacy Policy
    %br
    %a{href: "#{sitetopic_path}"}
      = t(:_topic)
  .col-sm-6
  .copyright
    %p
      \&copy; 2001 - #{Time.now.year}
      %span.pink 
        Сорочка ОПТ
      All Rights Reserved
  .debug
    %p
      Rails #{Rails.version} | Env #{Rails.env}
      = debug(params) if Rails.env.development?
