%table.table-full-image
  %tr
    %td
      = attachment_image_tag((@product.picture_id && Image.find(@product.picture_id)) || Image.new, :file, :fill, @width, @height, fallback: "default300x400.png", id: "full-image", class: 'image_uploaded')
  %tr
    %td
      %table.table-striped.table-product-full-control{:role => "grid"}
        %tr
          %td= bootstrap_icon_link_to '    ', "#product", "glyphicon glyphicon-hand-left icon-white", :class => "button btn btn-primary left"
          %td.divercity{style: "width: #{@width - 140}px;"}
          %td= bootstrap_icon_link_to '    ', "#product", "glyphicon glyphicon-hand-right icon-white", :class => "button btn btn-primary right"
.full-image-gallery
  - @galleries.each do |g|
    - Image.where("images.gallery_id = #{g.id}").each do |i|
      .image-block
        %input{type: 'hidden', id: "zoomImage", value: "#{attachment_url(Image.find(i.id) || Image.new, :file, :fill, 1500, 2000, fallback: "default300x400.png")}"}
        %input{type: 'hidden', id: "mainImage", value: "#{attachment_url(Image.find(i.id) || Image.new, :file, :fill, @width, @height, fallback: "default300x400.png")}"}
        %a{href: "/#product-full-image", class: "product-full-image-action #{(i.id == @product.picture_id)? "active" : ""} pfia-#{i.id}"}
          = attachment_image_tag(Image.find(i.id), :file, :fill, @width/6, @height/6, fallback: "default75x100.png", class: 'image_uploaded')
