%ul{class: ['nav', 'navbar-nav', 'navbar-right']}
  %li{class: ['direct', 'active']}
    %a{href: "#{root_path}"}
      %i{class: [ 'menu-icon', 'menu-icon-1']}
      =t(:_home)
  %li{class: ['direct', 'btn-nav-catalog']}
    %a{href: "#{catalog_path}"}
      %i{class: [ 'menu-icon', 'menu-icon-3']}
      =t(:_catalog)
  %li{class: ['direct', 'btn-nav-order']}
    %a{href: "#{_order_path}", class: 'gradient'}
      %i{class: [ 'menu-icon', 'menu-icon-2']}
      =t(:_order)
  %li{class: ['direct', 'btn-nav-about']}
    %a{href: "#{about_path}", class: 'gradient'}
      %i{class: [ 'menu-icon', 'menu-icon-6']}
      =t(:_about)
  - if current_user
    - if current_user.is_admin
      %li{class: ['remote-modal']}
        %a{href: '/adminpanel', class: 'gradient'}
          %i{class: [ 'menu-icon', 'menu-icon-4']}
          Admin panel
    - else
      %li{class: ['direct', 'btn-nav-user']}
        %a{href: '/users/edit', class: 'gradient'}
          %i{class: [ 'menu-icon', 'menu-icon-9']}
          =t('account')
    %li{class: ['remote-modal']}
      %a{href: '/users/sign_out', class: 'gradient'}
        %i{class: [ 'menu-icon', 'menu-icon-4']}
        = t('layouts.header.logout')
  - else
    %li{class: ['remote-modal']}
      = link_to remote_sign_up_path, :remote => true do
        %i{class: [ 'menu-icon', 'menu-icon-9']}
        = t('registrations.new.sign_up')
    %li{class: ['remote-modal']}
      = link_to remote_sign_in_path, :remote => true do
        %i{class: [ 'menu-icon', 'menu-icon-4']}
        = t('layouts.header.login')