= content_for :opengraph_meta_tags, opengraph_meta_tags_for(@product)
= content_for :custom_meta_tags do
  %link{rel: "canonical", href: "#{request.original_url}"}
  %meta{property: "og:image", content: "#{'http://' + request.host_with_port + attachment_url((@product.picture_id && Image.find(@product.picture_id)) || Image.new, :file, :fill, 300, 400, fallback: "default300x400.png")}"}
  %meta{property: "og:image:type", content: "image/jpeg"}
  %meta{property: "og:image:width", content: "300"}
  %meta{property: "og:image:height", content: "400"}
  - keywords = ['сорочка', 'shirt', 'рубашка', 'сорочки', 'shirts', 'рубашки', 'гуртом', 'wholesale', 'оптом']
  - keywords << ['turkey', 'турция', 'турція', 'турецкие', 'турецькі', 'turkish']
  - @category || @category = Category.find(session['category'])
  - keywords << @category.name_ua.split(' ')
  - keywords << @category.name_en.split(' ')
  - keywords << @category.name_ru.split(' ')
  - keywords << Brand.find(@product.brand_id).name
  - keywords << @product.sizes.map {|s| s.sign}
  - keywords << @galleries.map {|g| Color.find(g.color_id).name.split(' ')}
  %meta{name: "keywords", content: "#{keywords.join(', ')}"}
.top_box.clearfix
%section#navpanel.topwhite
  .nav0-tabs.nav.nav-tabs
    .flash.wow.lightSpeedIn{data: {tabs: "tabs"}, 'data-wow-duration' => '1000ms', 'data-wow-delay' => '200ms'}
  .deffered-nav
    = render partial: 'deffered'
%section#product
  = render partial: 'prod'
:javascript
  $('.main-nav li').removeClass('active');
  $('.main-nav li.btn-nav-catalog').addClass('active');
  get_gallery();
  zoom_action($('#product-image'));
  add_action($('.product-add'));
  renew_hash();
  remove_deffered();
  deffered_view();
  deffered_shift();
  get_full();