= form_for(@product_code) do |f|
  - if @product_code.errors.any?
    .alert.alert-error
      %b
        = pluralize(@product_code.errors.count, "error")
        prohibited this product_code from being saved:
      %ul
        - @product_code.errors.full_messages.each do |msg|
          %li= msg
  %table.table-striped.table-bordered.table-condensed.table-product-picture{:role => "grid"}
    %tr
      %td= attachment_image_tag((@product_code.picture_id && Image.find(@product_code.picture_id)) || Image.new, :file, :fill, 300, 400, fallback: "default300x400.png", class: 'image_uploaded')
  %table.table.table-striped.table-bordered.table-condensed.table-user-form{:role => "grid"}
    %tr
      %td{:scope => "row"}= f.label :name
      %td
        = f.text_field :name, class: "name_field"
        = f.hidden_field :id
        = f.hidden_field :picture_id
    %tr
      %td{:scope => "row"}= f.label :category
      %td.category_insert
        = f.collection_select :category_id, Category.all, :id, :name_ua, {:selected => session["category"]}
    %tr
      %td{:scope => "row"}= f.label :product
      - if(!@product_code.product_id.blank?)
        %td= f.collection_select :product_id, Product.where("products.category_id = '#{session['category']}'"), :id, :name, {selected: @product_code.product_id},
            {:prompt => "Please, select product...", :include_blank => true}
      - else
        %td= f.collection_select :product_id, @product_without_pc, :id, :name,
            {:prompt => "Please, select product...", :include_blank => true}
    %tr
      %td{:scope => "row"}= f.label :color
      - if(!@product_code.color_id.blank?)
        - c = Color.find(@product_code.color_id)
        %td
          = c.name
          .color_square{style: "background-color: #{c.color_gid}"}
          %input{id: "product_code_color_id", name: "product_code[color_id]", type: "hidden", value: "#{c.id}"}
          %input{id: "product_code_picture_id", name: "product_code[picture_id]", type: "hidden", value: "#{@product_code.picture_id}"}
          -if(@product_code.picture_id.blank? && !@product_code.product_id.blank?)
            - p = Product.find(@product_code.product_id)
            - g = Gallery.where("galleries.product_id = '#{p.id}' AND galleries.color_id = '#{c.id}'").last()
            - i = Image.where("images.gallery_id = '#{g.id}'").first()
            %input{id: "product_code_picture_id", name: "product_code[picture_id]", type: "hidden", value: "#{i.id}"}
      - else
        - if(!@product_code.picture_id.blank?)
          - i = Image.find(@product_code.picture_id)
          - c = Color.find(g.color_id)
          %td
            = c.name
            .color_square{style: "background-color: #{c.color_gid}"}
            %input{id: "product_code_color_id", name: "product_code[color_id]", type: "hidden", value: "#{c.id}"}
        - else
          %td.gallery_insert
    %tr
      %td= bootstrap_icon_link_to t(:_cansel), product_codes_path, 'glyphicon glyphicon-time icon-white', :class => "button btn btn-warning"
      %td= f.submit :class => "button btn btn-success"
  .gallery
