#adminpanel
  = render 'admin_panel_controlls'
  = show_flash
  .tab-content
    %fieldset
      %legend List of product_codes
      %table.table.table-striped.table-bordered.table-condensed{:role => "grid"}
        %thead
          %tr
            %th{:scope => "column"} Name
            %th{:scope => "column"} Product
            %th{:scope => "column"} Color
            %th{:scope => "column"} Picture
            %th{:scope => "column"}
        %tbody
          - @product_codes.each do |b|
            %tr
              %td= b.name
              %td= Product.find(b.product_id).name
              %td
                .color_square{style: "background-color: #{Color.find(b.color_id).color_gid}"}
              %td= attachment_image_tag((b.picture_id && Image.find(b.picture_id)) || Image.new, :file, :fill, 90, 120, fallback: "default300x100.png", class: 'image_uploaded')
              %td
                = bootstrap_icon_link_to 'Show', b, "glyphicon glyphicon-book icon-white", method: :get, :class => "button btn btn-small btn-primary"
                = bootstrap_icon_link_to "Edit", edit_product_code_path(b), "glyphicon glyphicon-pencil icon-white", :class => "button btn btn-small btn-primary"
                = bootstrap_icon_link_to 'Delete', b, "glyphicon glyphicon-trash icon-white", confirm: 'Are you sure?', method: :delete, :class => "button btn btn-small btn-danger"