#adminpanel
  = render 'admin_panel_controlls'
  = show_flash
  .tab-content
    %fieldset
      %legend List of images
      %table.table.table-striped.table-bordered.table-condensed{:role => "grid"}
        %thead
          %tr
            %th{:scope => "column"} Description
            %th{:scope => "column"} Image
            %th{:scope => "column"}
        %tbody
          - @images.each do |b|
            %tr
              %td= b.description
              %td= attachment_image_tag(b, :file, :fill, 300, 400, fallback: "default300x400.png")
              %td
                = bootstrap_icon_link_to 'Show', b, "glyphicon glyphicon-book icon-white", method: :get, :class => "button btn btn-small btn-primary"
                = bootstrap_icon_link_to "Edit", edit_image_path(b), "glyphicon glyphicon-pencil icon-white", :class => "button btn btn-small btn-primary"
                = bootstrap_icon_link_to 'Delete', b, "glyphicon glyphicon-trash icon-white", confirm: 'Are you sure?', method: :delete, :class => "button btn btn-small btn-danger"
                %br
                %span
                  in:
                %br
                = b.category_id && Category.find(b.category_id).name_ua
                %br
                = b.gallery_id && (bootstrap_icon_link_to (g = Gallery.find(b.gallery_id)).name, g, "glyphicon glyphicon-list icon-white")
