!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %meta{:content => content_for?(:description) ? yield(:description) : "Сорочка ОПТ", :name => "description"}
    %meta{content: "Sergy Nazarevich", name: "author"}
    %meta{:content => "http://sorochkaopt.com", :property => "og:url"}
    %title= content_for?(:title) ? "Сорочка ОПТ | " + yield(:title) : "Сорочка ОПТ"

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header#home
      %nav.navbar.navbar-transparent.navbar-fixed-top
        .main-nav
          .container
            .navbar-header
              .button{type: 'button', class: 'navbar-toggle', data: {:toggle => 'collapse',  :target => '.navbar-collapse'}}
                %span.sr-only
                  Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.navbar-brand{href: '/'}
                %img{src: '/logo.png'}
            .collapse.navbar-collapse
              = render partial: 'menu'
    .container
      = render partial: 'messages'
      .top25.clearfix
      = yield
      = render partial: 'leftpanel'
    %footer.footer
      = render partial: 'footer'